body{
  background-color: #FFC29C;
  font-family: 'Lexend Zetta', sans-serif;
  color: #803100;
  background-image: url("diary.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 32px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.root
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;

}

form {
  position:relative;
}

.box1
{
  width:300px;
  height:350px;
  border-width: medium;
  border-color: #803100;
  border-style: solid;
  background-color:#FF914D;
  padding: 10px;
  margin-top: 40px;
}

.box2
{
  width:300px;
  height:350px;
  border-width: medium;
  border-color: #803100;
  border-style: solid;
  background-color: #FF914D;
  padding: 10px;
  margin-bottom: 40px;
}

#parametroCif {

  width:30px;
  font-size: 13px;
}


